Package: [[name]]
Version: [[version]]
Section: utils 
Priority: optional
Essential: no
Architecture: [[deb.arch]]
Depends: default-jre (>= 1.6)
Maintainer: Scott Gray <scottgray1@gmail.com>
Description: Command line shell for working with SQL databases 
             JSqsh (pronounced J-skwish) is short for Java SQshelL
             (pronounced s-q-shell), JSqsh is much more than a nice
             prompt, it is intended to provide much of the
             functionality provided by a good shell, such as variables,
             redirection, pipes, back-grounding, job control, history,
             command completion, and dynamic configuration. Also, as
             a by-product of the design, it is remarkably easy to
             extend and add functionality. 
